/* Font */
@font-face{
    font-family: 'BebasNeue';
    src: url(../font/bebasneue-regular-webfont.woff2);
}

/* Style Utama */
body{
    font: 18px/36px 'BebasNeue', arial, sans-serif;
    background-color: #ddd;
}

h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 5px 5px saddlebrown;
}

.container{
    width: 600px;
    background-color: lightsalmon;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius:5px;
}

.galeri li,
/* .galeri li img, */
.galeri li span{
    border-radius: 50%;
}

.galeri li{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #ddd;
    float: left;
    margin-right: 20px;
    position: relative;

}

.galeri li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(119, 41, 41, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 1px #fff ;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}

.galeri li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

/* Overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 40px 0;
}

.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);

}

.overlay img{
    max-height: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.overlay:target img{
    animation: zoomDanFade 1s forwards;
}

.overlay .close{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -20px;
    color: #fff;
    text-decoration: none;
    border:1px solid white ;
    background-color: black;
    font-size: 15px;
    width: 50px;
    opacity: 0;
}

.overlay:target .close{
    animation: slideDown .5s 1s forwards;
}

.overlay:target .next,
.overlay:target .prev
{
    animation: fade .5s 1s forwards;
}

.next, .prev{
    width: 57px;
    height: 93px;
    background-image: url(../img/next.png);
    position: absolute;
    top: 45%;
    margin-left: 20px;
    opacity: 0;
}

.prev{
    background-image: url(../img/prev.png);
    margin-left: -80px;
}

/* Animasi */
@keyframes zoomDanFade {
    0%{
        transform: scale(0) rotate(0);
        opacity: 0;
    }
    100%{
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
    
}

@keyframes slideDown {
    0%{
        opacity: 0;
        margin-top: -15px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
    
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.clear{
    clear: both;
}
